{% extends 'web\auth_base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block styles %}
<style>
    body {
        background-color: #f8f9fa;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 100px;
    }

    .login-container {
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        max-width: 400px;
        width: 100%;
    }

    .login-container h2 {
        margin-bottom: 1.5rem;
    }
</style>
{% endblock %}

{% block auth %}
<div class="login-container">
    <div class="d-flex justify-content-center">
        <img src="{% static 'web/images/logo.png' %}" height="100px" alt="">
    </div>
    <h2 class="text-center header-pacifico-regular">Login your account</h2>

    <!-- start message section -->
    {% if messages %}
    <!-- <div class="container-fluid"> -->
    {% for message in messages %}
    <div class="alert alert-dismissible fade show {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'success' %}alert-success{% elif message.tags == 'info' %}alert-info{% endif %}"
        role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <!-- </div> -->
    {% endif %}
    <!-- end message section -->
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Example@gmail.com" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="********"
                required>
        </div>
        <button type="submit" class="btn btn-dark w-100">Login</button>
        <div class="d-flex justify-content-between mt-2">
            <a href="{% url 'forgot_password' %}">Forgot password?</a>
            <a href="{% url 'register' %}">New user?</a>
        </div>
    </form>
</div>
{% endblock %}